@model IEnumerable<VATReturn.Models.ImportTaxableGoods>

@{
    ViewBag.Title = "Index";
}

<h2>করযোগ্য পণ্য, সেবা বা পণ্য ও সেবার আমদানি</h2>

<br />
@{
    var insId = 0;
    foreach (var data in Model)
    {
        insId = data.InstitutionInfo.Id;
        break;
    }

    if (insId == 0)
    {
        insId = ViewBag.massage;
    }

    <table>
        <tr>
            <td><p>@Html.ActionLink("যোগ করুন", "Create", new { id = insId })</p></td>
            <td>&nbsp; &nbsp;</td>
            <td><p>@Html.ActionLink("পরবর্তী ধাপ", "Index", "RebateExports", new { id = insId }, null)</p></td>
        </tr>
    </table>
}
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionInfo.TaxId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BandENo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vat)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionInfo.TaxId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BandENo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vat)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
