@model IEnumerable<VATReturn.Models.Treasury>

@{
    ViewBag.Title = "Index";
}

<h2>ট্রেজারিতে জমা</h2>
<br />
@{
    var insId = 0;

    if (ViewBag.massage != null)
    {
        insId = ViewBag.massage;
    }
    else
    {
        foreach (var data in Model)
        {
            insId = data.InstitutionInfo.Id;
            break;
        }
    }

    <table>
        <tr>
            <td><p>@Html.ActionLink("যোগ করুন", "Create", new { id = insId })</p></td>
            <td>&nbsp; &nbsp;</td>
            <td><p>@Html.ActionLink("পরবর্তী ধাপ", "Index", "FinalAccount", new { id = insId }, null)</p></td>
        </tr>
    </table>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionInfo.TaxId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TreasuryNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Branch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionInfo.TaxId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TreasuryNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
