@if (this.User.IsInRole("Admin"))
{
@model IEnumerable<VATReturn.ViewModel.RolesViewModel>
        }
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron text-center">
    <h3>Customs, Excise & VAT Commissionerate, Dhaka(South)</h3>
    <p class="lead"><mark>উন্নয়নে বাড়বে কর-দেশ হবে স্বনির্ভর, ভ্যাট দিচ্ছে জনগণ-দেশের হচ্ছে উন্নয়ন|</mark></p>
</div>

<div class="row">

    @if (this.User.IsInRole("Admin"))
    {
        <table class="table table-bordered table-hover table-striped table-responsive">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model.ToList())
            {
                foreach (var role in user.RoleNames)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.NickName</td>
                        <td>@user.Email</td>
                        <td>@role</td>
                        <td>@Html.ActionLink("Delete","","", new {})</td>
                    </tr>
                }
            }
            </tbody>
        </table>
        
    }
    else
    {
        <h2>Contact</h2>
        <p>
            Address : 160/A, IDB Bhaban, 4th & 5th Floor, Kakrail, Dhaka <br/>
            Telephone : 02-8311811-4 <br />
            Fax : 02-8315459 <br />
            Email : cevdhksouth@yahoo.com
        </p>
    }
       
</div>